<!--
Params to pass here:
message: String
-->
<div
id="notification"
x-data="{ showBanner: true, autoCloseTimeout: null  }"
x-init="
  autoCloseTimeout = setTimeout(() => { showBanner = false }, 4000); // Set timeout on init
  $watch('showBanner', (value) => { // Optional: Clear timeout if manually closed early
  if (!value && autoCloseTimeout) {
  clearTimeout(autoCloseTimeout);
  }
  })
  "
  x-show="showBanner"
  x-transition:enter="transition ease-out duration-300 transform"
  x-transition:enter-start="-translate-y-full opacity-0"
  x-transition:enter-end="translate-y-0 opacity-100"
  x-transition:leave="transition ease-in duration-200 transform"
  x-transition:leave-start="translate-y-0 opacity-100"
  x-transition:leave-end="-translate-y-full opacity-0"
  class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 w-full max-w-xl bg-yellow-100 border border-yellow-300 text-yellow-700 p-4 shadow-lg rounded-md"
  role="alert">
  <div class="max-w-7xl mx-auto flex items-center">
    <div class="flex-shrink-0 mr-3">
      <%= icon(icon: :triangle_exclamation_icon, options:{class:"text-yellow-500 text-xl"}) %>
    </div>
    <div class="flex-grow text-sm">
      <p class="font-bold">Alert!</p>
      <p><%= message %></p>
    </div>
    <div class="ml-4 flex-shrink-0">
      <%# <button
    @click="showBanner = false"
    type="button"
    class="text-yellow-500 hover:yellow-red-700 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 focus:ring-offset-yellow-100 rounded-full p-1"
    aria-label="Close">
    <span class="sr-only">Close</span>
    <i class="fa-solid fa-xmark text-lg"></i>
</button> %>
    </div>
  </div>
</div>