<!--
Params to pass here:
posts
user
-->
<div class="search_results_<%= user.id %>">
  <p class="px-2 py-1 text-lg font-semibold text-[var(--txt-clr-default)] uppercase">Trending Posts</p>
  <div class="p-4 text-center text-sm text-[var(--txt-clr-subtle)]">
    Feature Under construction
  </div>
</div>