<div class="hidden md:flex flex-col items-center justify-center h-full text-center text-[var(--txt-clr-subtle)]">
  <%= icon(icon: :comments_icon_regular, options:{class: "fa-4x mb-4"}) %>
  <h3 class="text-lg font-medium">Select a chat to start messaging</h3>
</div>