<footer class="fixed bottom-0 left-0 right-0 z-40 bg-[var(--background-clr-clear)] border-t border-[var(--border-clr-subtle)] md:hidden">
  <nav class="flex justify-around items-center h-16 mobile-footer-nav">
    <!-- Home -->
    <%= link_to root_path(), 
    class:"flex flex-col items-center justify-center w-full h-full", 
    "@click"=>"footer_active_tab = 'home'",
    ":class" =>"{'text-[var(--primary-600)]' : footer_active_tab == 'home', 'text-[var(--txt-clr-subtle)]' : footer_active_tab != 'home'}" do %>
      <i class="fa-solid fa-house-chimney text-xl"></i>
      <span class="text-xs font-medium">Home</span>
    <% end %>
    <!-- Create -->
    <%= link_to new_post_path(),
    class: "flex flex-col items-center justify-center w-full h-full",
    "@click"=>"footer_active_tab = 'create_post'",
    ":class"=>"{'text-[var(--primary-600)]' : footer_active_tab == 'create_post', 'text-[var(--txt-clr-subtle)]' : footer_active_tab != 'create_post'}" do %>
      <i class="fa-solid fa-plus-circle text-xl"></i>
      <span class="text-xs font-medium mt-0.5">Create</span>
    <% end %>
    <!-- Chat -->
    <a href="#" 
    class="flex flex-col items-center justify-center w-full h-full"
    @click="footer_active_tab = 'chat'"
    :class="{'text-[var(--primary-600)]' : footer_active_tab == 'chat', 'text-[var(--txt-clr-subtle)]' : footer_active_tab != 'chat'}">
      <i class="fa-solid fa-comment-dots text-xl"></i>
      <span class="text-xs font-medium">Chat</span>
    </a>
    <!-- Profile -->
    <%= link_to user_profile_path(id: current_user.id),
    class: "flex flex-col items-center justify-center w-full h-full",
    "@click"=>"footer_active_tab = 'profile'",
    ":class"=>"{'text-[var(--primary-600)]' : footer_active_tab == 'profile', 'text-[var(--txt-clr-subtle)]' : footer_active_tab != 'profile'}" do %>
      <i class="fa-solid fa-user text-xl"></i>
      <span class="text-xs font-medium">Profile</span>
    <% end %>
  </nav>
</footer>